{% if errors %}
<div class="row">
    <div class="col-sm-12 mb-2">
         <div class="card">
         <!--Card content-->
             <div class="card-body">
                 <h4 class="card-title text-center red-text">{{ errors }}</h4>
             </div>
         </div>
    </div>
 </div>
{% endif %}
