<div class="col-sm-12">
        <!--Card-->
    <div class="card mt-2">
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <div class="row">
                <div class="col-sm-11 col-md-10 col-sm-8">
                    <h5 class="card-title">{{ message.content| truncatechars:200 }}</h5>
                    <hr>
                </div>
                <div class="col-sm-1 col-md-2 col-sm-4">
                    <form id="del" method="post">
                        {% csrf_token %}
                        <button value={{ message.mid }} type="submit" name='delete'
                            class="btn btn-red btn-sm"><i
                            class="fa fa-times"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>