{% extends 'base.html' %}
{% block content %}
{% if project %}
<div class="row">
    <div class="col-md-12 mb-2">
         <div class="card">
         <!--Card content-->
         <div class="card-body">
              <div class="row">
                  <div class="col-sm-8">
                      <p class="h4 card-title mb-4 ml-4">{{ project.title }} <span class="grey-text">id{{ project.pid}}</span></p>
                  </div>

                  <div class="col-sm-4">
                      <h4 class="card-title text-center">Admin: <a href="{% url 'tc_web:profile' project.admin_uid %}" class="grey-text"> {{ project.admin_name }}</a><span class="grey-text">; id {{ project.pid }}</span></h4>
                  </div>
              </div>
              <p class="card-text mb-2 ml-4">{{ project.description|default:"No comments provided" }}</p>
              <hr>
              {% if project.admin_uid == user.id %}
                   <a class="btn btn-unique" href="{% url 'tc_web:change_project' project.pid %}">Change</a>
              {% endif %}
         </div>
         </div>
    </div>
 </div>
{% endif %}
{% if tasks_list %}
<div class="row">
    {% for task in tasks_list %}
        {% include 'tc_web/tasks/task_card.html' with task=task %}
    {% endfor %}
</div>
</ul>
{% else %}
<div class="card">
    {% if project %}
    <!--Card content-->
    <div class="card-body">
        <h4 class="card-title text-center">No tasks available</h4>
    </div>
    {% endif %}
</div>
{% endif %}
<!--Grid column-->
{% endblock %}

{% block add_buttons %}
{% if project %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-lg red" href="{% url 'tc_web:add_project_task' project.pid %}">
        <i class="fa fa-plus"></i>
    </a>
</div>
{% if project.admin_uid == user.id %}
<div class="fixed-action-btn" style="bottom: 45px; right: 100px;">
    <a class="btn-floating btn-lg red" href="{% url 'tc_web:add_user' project.pid %}">
        <i class="fa fa-user"></i>
    </a>
</div>
{% endif %}
{% endif %}

{% block sidebar %}
<!-- Sidebar -->
<div class="side-nav fixed grey lighten-5 mdb-sidenav" style="width: 18%; overflow-y: auto;">
    <ul class="custom-scrollbar list-unstyled" style="margin-top: 30%">
        <li>
        {% for user in users_list %}
        <a href="{% url 'tc_web:profile' user.uid %}" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-user mr-3"></i>{{ user.login }}@{{ user.uid }}</a>
        {% endfor %}
        </li>
    </ul>

</div>
<!-- Sidebar -->
{% endblock %}

{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}

{% block navbar %}
    {% include 'tc_web/tasks/query_bar.html' %}
{% endblock %}

{% block scripts %}
<script>
$(function() {
    $("#search_user").autocomplete({
        source: "/tc_web/api/get_project_users/{{ project.pid }}/",
        minLength: 2,
    });
});

</script>
{% endblock %}

{% block special %}
{% endblock %}
