{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-7 col-md-9 col-sm-12">
        <div class="card">
            <div class="card-body">
                <!-- Tasks hat -->

                {% if task.status == 3 %}
                    <p class="h4 grey-text text-center mb-5">Status: <span class="badge badge-success mt-2">DONE</span></p>
                {% elif task.status == 2 %}
                    <p class="h4 grey-text text-center mb-5">Status: <span class="badge badge-default mt-2">IN PROGRESS</span></p>
                {% elif task.status == 1 %}
                    <p class="h4 grey-text text-center mb-5">Status: <span class="badge badge-warning mt-2">CANCELLED</span></p>
                {% elif task.status == 0 %}
                    <p class="h4 grey-text text-center mb-5">Status: <span class="badge badge-danger mt-2">EXPIRED</span></p>
                {% endif %}

                <hr>
                <p class="h4 card-title mb-4 ml-4">{{ task.title }} <span class="grey-text">id{{ task.tid }}</span></p>
                <p class="card-text mb-2 ml-4">{{ task.comment|default:"No comments provided" }}</p>
                <hr>
                <!-- Tasks hat -->

                <!-- Project part -->
                {% if task.pid %}
                    <p class="h5 card-title mb-3 ml-4">This is the project task:</p>
                    <div class="row ml-4">
                        <div class="col-sm-6">
                            <div class="mycontent-left border-right border-light">
                                <div class="row">
                                    <div class="col-sm-5 mb-3">
                                        <p class="h5 mt-1">Project:</p>
                                    </div>
                                    <div class="col-sm-7 mb-3">
                                        <p class="h5"><a href="{% url 'tc_web:project' task.pid %}" style="min-width: 100px;" class="badge hoverable badge-pill purple-gradient">{{ task.project_name|truncatechars:14 }}</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-text">You may click on badges for bonus info</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mycontent-right">
                                <div class="row">
                                    <div class="col-sm-5 mb-2">
                                        <p class="h5 mt-1">Creator:</p>
                                    </div>
                                    <div class="col-sm-7 mb-2">
                                        <p class="h5"><a href="{% url 'tc_web:profile' user_id=task.creator_uid %}" style="min-width: 100px;" class="badge hoverable badge-pill aqua-gradient">{{ task.creator_name|truncatechars:14 }}</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="h5 mt-1">Executor:</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="h5"><a href="{% url 'tc_web:profile' user_id=task.uid %}" style="min-width: 100px;" class="badge hoverable badge-pill peach-gradient">{{ task.receiver_name|truncatechars:14 }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endif %}
                <!-- Project part -->

                <!-- Time checking -->
                <p class="h5 card-title mb-3 ml-4">Time management panel:</p>
                <div class="row ml-4">
                    <div class="col-sm-6">
                        <p class="h5 mb-1">Creation time: </p>
                    </div>

                    <div class="col-sm-6">
                        <p class="h6 mb-1 grey-text">{{ task.creation_time|date:"d M Y, H:i" }} </p>
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-sm-6">
                        <p class="h5 mb-1">Deadline time: </p>
                    </div>

                    <div class="col-sm-6">
                        {% if task.deadline %}
                            <p class="h6 mb-1 grey-text">{{ task.deadline|date:"d M Y, H:i" }}</p>
                        {% else %}
                            <p class="h6 mb-1 grey-text">No deadline</p>
                        {% endif %}
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-sm-6">
                        <p class="h5 mb-1">Realization time: </p>
                    </div>

                    <div class="col-sm-6">
                        {% if task.realization_time %}
                            <p class="h6 mb-1 grey-text">{{ task.realization_time|date:"d M Y, H:i" }}</p>
                        {% else %}
                            <p class="h6 mb-1 grey-text">Task isn't done</p>
                        {% endif %}
                    </div>
                </div>

                {% if task.period %}
                    <p class="h5 mb-1 text-center">Period: {{ task.period }} day{{ task.period|pluralize }}</p>
                {% endif %}
                <hr>

                <!-- Time checking -->

                <!-- Level dependency -->
                {% if task.parent or task.childs %}
                    <div class="row ml-4">
                        <div class="col-sm-6">
                            <div class="mycontent-left border-right border-light">
                                {% if task.parent %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="h5 mb-1 mt-1">Parent task:</p>
                                        </div>

                                        <div class="col-sm-6">
                                            <p class="h5"><a href="{% url 'tc_web:show_task' task.parent %}" style="min-width: 100px;" class="badge hoverable badge-pill blue-gradient"> {{ task.parent_task.title }}</a></p>
                                        </div>
                                    </div>

                                {% else %}
                                    <p class="h6 mb-1 mt-1 grey-text">Task has no parent</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mycontent-right">
                                {% if task.childs %}
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p class="h5 mb-1 mt-1">Childs: </p>
                                        </div>

                                        <div class="col-sm-7">
                                            <a style="width: 100px" class="badge hoverable badge-pill blue-gradient dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </a>
                                            <ul class="dropdown-menu" style="overflow-y: scroll; overflow-x: hidden; max-height: 400px; width: 300px">
                                                {% for child_task in task.childs %}
                                                    {% include "tc_web/tasks/tree_view_template.html" with node=child_task %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                    <p class="h6 mb-1 mt-1 grey-text">Task has no childs</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endif %}
                <!-- Level dependency -->

                {% if task.priority == 4 %}
                    <p class="h4 grey-text text-center mb-1">Priority: <span class="badge badge-danger mt-2">MAX</span></p>
                {% elif task.priority == 3 %}
                    <p class="h4 grey-text text-center mb-1">Priority: <span class="badge badge-warning mt-2">HIGH</span></p>
                {% elif task.priority == 2 %}
                    <p class="h4 grey-text text-center mb-1">Priority: <span class="badge badge-primary mt-2">MEDIUM</span></p>
                {% elif task.priority == 1 %}
                    <p class="h4 grey-text text-center mb-1">Priority: <span class="badge badge-info mt-2">LOW</span></p>
                {% elif task.priority == 0 %}
                    <p class="h4 grey-text text-center mb-1">Priority: <span class="badge badge-default mt-2">MIN</span></p>
                {% endif %}
                <hr>
                <div class="row justify-content-sm-center mt-2 mr-3">
                    <div class="col-sm-5">
                        <div class="text-center">
                            <a class="btn btn-unique" style="width: 60%" onClick="javascript:history.go(-1);">Back</a>
                        </div>
                    </div>
                    {% if task.has_rights %}
                        <div class="col-sm-5">
                          <p class="text-center"><a href="{% url 'tc_web:change_task' task_id=task.tid  %}" class="btn btn-unique">Change</a></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}
