{% extends 'base.html' %}
{% block head %}
    <!--
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    -->
{% endblock %}
{% block content %}
{% if tasks_list %}
<div class="row">
    {% for task in tasks_list %}
        {% include 'tc_web/tasks/task_card.html' with task=task %}
    {% endfor %}
</div>
{% else %}
<div class="card">
    <!--Card content-->
    <div class="card-body">
        <h4 class="card-title text-center">No tasks available</h4>
    </div>
</div>
{% endif %}
<!--Grid column-->
{% endblock %}

{% block add_buttons %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px; z-index: 1000">
    <a class="btn-floating btn-lg red" href="{% url 'tc_web:add_task' %}">
        <i class="fa fa-plus"></i>
    </a>
</div>
{% endblock %}

{% block links %}
<ul class="navbar-nav mr-auto">
    {% if user.is_authenticated %}
    <li class="nav-item active">
        <a class="nav-link"
           href="{% url 'tc_web:tasks' %}">Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'tc_web:projects' %}">Projects</a>
    </li>
    {% endif %}

</ul>
{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}

{% block navbar %}
    {% include 'tc_web/tasks/query_bar.html' %}
{% endblock %}

{% block scripts %}
    <script>
    function clicked(e) {
        if (!confirm('are you sure?'))
            return false;
        return true;
    }
    </script>
{% endblock %}
