
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">

        <!--Card-->
        <div class="card">
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <div class="row" style="margin-bottom: -20px">
                    <div class="col-sm-9">
                        <p class="card-title h4">{{ task.title|truncatechars:18 }}
                        </p>
                    </div>

                    <div class="col-sm-3">
                        {% if task.has_rights %}
                            <form id="del_{{ task.tid }}" method="post">
                            {% csrf_token %}
                                <button value={{ task.tid }} name='delete' onclick="return clicked(event, 'del_{{ task.tid }}')"
                                     class="btn btn-red btn-sm" style="margin-top: -3px"><i class="fa fa-times"></i></button>
                            </form>
                        {% else %}
                            <a disabled="disabled" class="btn btn-grey btn-sm" style="margin-top: -3px"><i
                                class="fa fa-times"></i></a>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <!--Text-->
                <div class="row">
                    <div class="col-sm-9">
                        <p class="card-text">{{ task.comment|default:"No comments provided"|truncatechars:26 }}</p>
                    </div>

                    {% if task.status == 3 %}
                    {% elif task.has_rights %}
                        <div class="col-sm-3">
                            <form method="post" id="check">
                                {% csrf_token %}
                                <button value={{ task.tid }} type="submit" name='check' onclick="document.getElementById('check').submit();"
                                    class="btn btn-red btn-sm" style="margin-top: -100px; margin-bottom: -100px"><i
                                    class="fa fa-check"></i></button>
                            </form>
                        </div>
                    {% else %}
                        <div class="col-sm-3">
                            <a disabled="disabled" class="btn btn-grey btn-sm" style="margin-top: -100px; margin-bottom: -100px"><i
                                class="fa fa-check"></i></a>
                        </div>
                    {% endif %}
                </div>
                <div class="row ml-0 mt-2">
                    {% if task.status == 3 %}
                        <div class="badge badge-success">DONE</div>
                    {% elif task.status == 2 %}
                        <div class="badge badge-default">IN PROGRESS</div>
                    {% elif task.status == 1 %}
                        <div class="badge badge-warning">CANCELLED</div>
                    {% elif task.status == 0 %}
                        <div class="badge badge-danger">EXPIRED</div>
                    {% endif %}
                    {% if task.priority == 4 %}
                        <div class="badge badge-danger ml-1">MAX PRIOR</div>
                    {% elif task.priority == 3 %}
                        <div class="badge badge-warning ml-1">HIGH PRIOR</div>
                    {% elif task.priority == 2 %}
                        <div class="badge badge-primary ml-1">MEDIUM PRIOR</div>
                    {% elif task.priority == 1 %}
                        <div class="badge badge-info ml-1">LOW PRIOR</div>
                    {% elif task.priority == 0 %}
                        <div class="badge badge-default ml-1">MIN PRIOR</div>
                    {% endif %}
                    {% if task.parent %}
                        <a style="width: 22%; margin-right: -1px" class="badge hoverable badge-pill blue trigger ml-1" href="{% url 'tc_web:show_task' task.parent %}">PARENT<i class="fa fa-arrow-up"></i></a>
                    {% endif %}
                    {% if task.childs %}

                            <a style="width: 13%" class="ml-1 trigger hoverable badge badge-pill blue dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-group"></i>
                            </a>
                            <ul class="dropdown-menu" style="overflow-y: scroll; overflow-x: hidden; max-height: 300px; width: 200px">
                                {% for child_task in task.childs %}
                                    {% include "tc_web/tasks/tree_view_template.html" with node=child_task %}
                                {% endfor %}
                            </ul>
                    {% endif %}
                </div>
                {% if project %}
                  <div class="row">
                        <div class="col-sm-6 mt-2">
                            <a href="{% url 'tc_web:profile' user_id=task.creator_uid %}" class="btn btn-sm btn-unique" style="margin-bottom: -10px; width: 110%">Maker:{{ project.admin_name|truncatechars:10 }}</a>
                        </div>
                        <div class="col-sm-6 mt-2">
                            <a href="{% url 'tc_web:profile' user_id=task.uid %}" class="btn btn-sm btn-unique" style=" margin-bottom: -10px; width: 100%">Exec:{{ task.receiver_name|truncatechars:9 }}</a>
                        </div>
                    </div>
                {% elif task.pid %}
                    <div class="row">
                        <div class="col-sm-6 mt-2">
                            <a href="{% url 'tc_web:project' project_id=task.pid %}" class="btn btn-sm btn-red" style="margin-bottom: -10px; width: 110%">Proj:{{ task.project_name|truncatechars:11 }}</a>
                        </div>
                        <div class="col-sm-6 mt-2">
                            <a href="{% url 'tc_web:profile' user_id=task.uid %}" class="btn btn-sm btn-unique" style=" margin-bottom: -10px; width: 100%">Exec:{{ task.receiver_name|truncatechars:9 }}</a>
                        </div>
                    </div>
                {% else %}
                <div class="row">
                    <div class="col-sm-12 mt-2">
                        <a class="btn btn-sm btn-red" href="{% url 'tc_web:profile' user_id=user.id  %}" style="width: 95%; margin-bottom: -10px">Personal task</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- Card footer -->
            <div class="rounded-bottom mdb-color darken-1 text-center pt-3">
                <ul class="list-unstyled list-inline font-small">
                    <li class="list-inline-item pr-2">
                        {% if task.deadline %}
                        <a class="white-text"><i class="fa fa-clock-o pr-1"></i>{{task.deadline|date:"d M, H:i"}}</a>
                        {% else %}
                        <a class="white-text"><i class="fa fa-clock-o pr-1"></i>No deadline</a>
                        {% endif %}
                    </li>
                    <li class="list-inline-item pr-2"><a href="{% url 'tc_web:show_task' task_id=task.tid  %}" class="white-text"><i class="fa fa-arrow-right pr-1"></i>show</a></li>
                    {% if task.has_rights %}
                        <li class="list-inline-item pr-2"><a href="{% url 'tc_web:change_task' task_id=task.tid  %}" class="white-text"><i class="fa fa-edit pr-1"></i>edit</a></li>
                    {% endif %}
                    {% if task.pid %}
                        {% if task.has_rights %}
                        <li class="list-inline-item pr-2"><a href="{% url 'tc_web:add_child_project_task' project_id=task.pid task_id=task.tid  %}" class="white-text"><i class="fa fa-plus pr-1"></i>child</a></li>
                        {% endif %}
                    {% else %}
                        {% if task.has_rights %}
                            <li class="list-inline-item pr-2"><a href="{% url 'tc_web:add_child_task' task_id=task.tid  %}" class="white-text"><i class="fa fa-plus pr-1"></i>child</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <!--/.Card-->

    </div>
