{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <p class="h4 text-center">Add project</p>
                <br>
                <form method="post" class="text-center">
                    {% csrf_token %}
                    {% for field in form %}
                    <label class="grey-text h5">
                        {{ field.label_tag }}</label>
                    <br>
                    <div class="container bm-2">
                        {{ field }}
                    </div>
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    <br>
                    {% endfor %}

                    <hr>
                    <div class="row justify-content-sm-center mt-2">
                        <div class="col-sm-5">
                            <a class="btn btn-unique" onClick="javascript:history.go(-1);">Back</a>
                        </div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-unique">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}
