{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <p class="h4 text-center">Add user</p>
                <form method="post" class="text-center">
                    {% csrf_token %}
                    <div class="fieldWrapper" style="z-index: 10000">
                        <input id="search_user" name="search_user" style="z-index: 10000" type="text"

                               placeholder="Username" aria-label="Search">
                    </div>

                    <hr>
                    <div class="row justify-content-sm-center mt-2">
                        <div class="col-sm-5">
                            <a class="btn btn-unique" onClick="javascript:history.go(-1);">Back</a>
                        </div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-unique">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}

{% block scripts %}
<script>
$(function() {
    $("#search_user").autocomplete({
        source: "/tc_web/api/get_users",
        minLength: 2,
        autoFocus: true,
    });
});

</script>
{% endblock %}
