{% extends 'base.html' %}
{% block content %}
{% if projects_list %}
<div class="row">
{% for project in projects_list %}
    {% include 'tc_web/projects/project_card.html' with project=project %}
{% endfor %}
</div>
{% else %}
 <div class="card">

     <!--Card content-->
     <div class="card-body">
         <h4 class="card-title text-center">No projects available</h4>
     </div>
 </div>
{% endif %}
<!--Grid column-->
{% endblock %}

{% block add_buttons %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px; z-index: 1000">
    <a class="btn-floating btn-lg red" href="{% url 'tc_web:add_project' %}">
        <i class="fa fa-plus"></i>
    </a>
</div>
{% endblock %}

{% block links %}
<ul class="navbar-nav mr-auto">
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link"
           href="{% url 'tc_web:tasks' %}">Tasks</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'tc_web:projects' %}">Projects</a>
    </li>
    {% endif %}

</ul>
{% endblock %}

{% block errors %}
    {% include 'tc_web/error.html' with errors=errors %}
{% endblock %}
