{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Time candle</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/compiled.min.css' %}" rel="stylesheet">
    <!-- Custom styles (optional) -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Datetimepicker -->
    <link href="{% static 'css/tempusdominus-bootstrap-4.css' %}" rel="stylesheet">

    {% block head %}
    {% endblock %}

    <style>
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    </style>
</head>

<body id="intro">

<!--Main Navigation-->
<header>

    <!--Navbar-->
    {% block special %}
    {% endblock %}
    <nav style="z-index: 10000" class="navbar navbar-expand-lg navbar-dark mdb-color scrolling-navbar fixed-top">
        <div class="container">

            <!-- Navbar brand -->
            <a href="{% url 'tc_web:index' %}" class="navbar-brand text-white">Time Candle</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#basicExampleNav"
                    aria-controls="basicExampleNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse"  id="basicExampleNav">

                <!-- Links -->
                {% block links %}
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'tc_web:tasks' %}">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tc_web:projects' %}">Projects</a>
                    </li>
                    {% endif %}

                </ul>
                {% endblock %}
                <!-- Links -->

                {% block navbar %}
                {% endblock %}

                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>{{ user.username }}@{{ user.id }}</a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item" href="{% url 'tc_web:change_profile' user.id %}">Settings</a>
                            <a class="dropdown-item" href="{% url 'tc_web:profile' user.id %}">Profile</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-2" href="{% url 'logout' %}">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-2" href="{% url 'signup' %}">Sign up</a>
                    </li>
                    {% endif %}

                </ul>
                <!-- Links -->

                <form class="form-inline">
                        <input id="search" name="search" class="grey lighten-5 form-control mr-sm-2" style="z-index: 10000" type="text"

                               placeholder="Search users" aria-label="Search">

                </form>
            </div>
            <!-- Collapsible content -->
        </div>
    </nav>
    <!--/.Navbar-->

    {% block sidebar %}
    {% endblock %}


</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5" style="min-height: 165%">

    <div class="container">

        {% block errors %}
        {% endblock %}

    </div>

    <!--Main container-->
    <div class="container">

        {% block content %}
        {% endblock %}

    </div>
    <!--Main container-->

</main>
<!--Main layout-->
{% block add_buttons %}
{% endblock %}
<!--Footer-->
<footer class="page-footer text-center text-md-left font-small mdb-color pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6 pb-3">
                <h5 class="text-uppercase">Dev Links</h5>
                <p>This is the links that you are looking for:</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6 pb-3">
                <ul class="list-unstyled">
                    <li>
                        <a class="h5" href="https://github.com/ShpakovNikita"><i class="fa fa-github"></i> github</a>
                    </li>
                    <li>
                        <a class="h5" href="https://vk.com/id89463323"><i class="fa fa-vk"></i> vk</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://bitbucket.org/shpakov_nikita/">
            Paul Fon Boudervill </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-- SCRIPTS -->
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<!-- JQuery -->
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>

<script type="text/javascript" src="{% static 'js/tempusdominus-bootstrap-4.js' %}"></script>

{% block scripts %}
{% endblock %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script>
$(function() {
    $("#search").autocomplete({
        source: "/tc_web/api/get_users",
        minLength: 2,
        autoFocus: true,
    });
});
</script>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>

</body>

</html>
